@font-face {
  src: url("https://mdn.github.io/shared-assets/fonts/LeagueMono-VF.ttf");
  font-family: "LeagueMonoVariable";
  font-style: normal;
}

h1{
	color:#0052EA;
}

main {
    text-align: center;
}

.generation-form {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
}

.form-group {
    display: flex;
    gap: 10px;
}

.wrapper {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 2px;
}

.dungeon{
    border: 3px solid #333;
    padding: 12px;
}

.dungeon-text{
    font: 0.5em "LeagueMonoVariable";
    font-stretch: 200%;
}

.disabled {
    pointer-events: none;
    opacity: 0.4;
}
